body {
    background-image: url("download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@font-face {
    font-family: Lemon;
    src: url(Lemon/Lemon-Regular.ttf);
}

a{
    text-decoration: none;
    color:black;
    cursor: default;
}

h2{
    text-align: center;
    color: black;
    font-family: Lemon;
    margin-top: 5rem;
    font-size: 2.5rem;
}

/* .button-container button {
    display: block;
} */

.start,.exit{
    background-color: rgba(217,217,217,0.15);
    border: none;
    width: fit-content;
    justify-content: center;
    color: black;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.start{
    display: block;
    margin: 13rem auto;
    margin-bottom: 2.5rem;
    padding-left: 25px;
    padding-right: 25px;
}

.exit{
    display: block;
    margin: 0 auto;
    padding-left: 88px;
    padding-right: 88px;
}

button:hover{
    background-color: rgba(217,217,217,0.25);
}
  